.album-list {
  margin-left: 50px;
  list-style-type: none;
  width: 30%;
}

.album-list li {
  padding-top: 10px;
}

.album-list a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.song-number {
  color: #9d9d9d;
  font-weight: lighter;
  margin-left: 20px;
  margin-right: 20px;
  width: 30px;
}

.nameArtist {
  color: #919191;
}

.linkAlbum {
  padding-top: 10px;
  padding-bottom: 10px;
}

.linkAlbum:hover {
  transform: scale(1.2);
  background-color: rgba(240, 248, 255, 0.457);
  border-radius: 50px;
}

@media screen and (max-width: 700px) {
  .album-list {
    margin-left: 20px;
    list-style-type: none;
    width: 80%;
  }

  .album-number {
    color: #403f3f;
    font-weight: lighter;
    margin-right: 10px;
    width: 30px;
    text-align: center;
  }
}
