#artistContainer {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.artistName {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 50px;
}

#verified p {
  position: absolute;
  bottom: 70px;
  left: 33px;
  font-size: 10px;
}

.linkAlbum {
  text-decoration: none;
}

.linkAlbum span {
  color: white;
  font-size: 20px;
}

.linkAlbum div {
  margin-left: 15px;
}

.popular {
  margin: 40px 0 20px 40px;
  font-weight: bolder;
}

.albumContainer {
  padding-left: 50px;
}

.album-list li::marker {
  color: #919191;
}

.album-list {
  list-style-type: none;
  padding-left: 0;
  width: 40%;
}

.album-list li {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.album-list li:hover {
  transform: scale(1.2);
  background-color: rgba(240, 248, 255, 0.457);
  border-radius: 50px;
}

.album-list li:hover img {
  padding: 8px;
}

.album-number {
  color: #9d9d9d;
  font-weight: lighter;
  margin-right: 10px;
  width: 30px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .album-list {
    margin-left: 20px;
    list-style-type: none;
    width: 80%;
  }

  .album-number {
    color: #403f3f;
    font-weight: lighter;
    margin-right: 10px;
    width: 30px;
    text-align: center;
  }
}
